<p id="notice"><%= notice %></p>

<p>
  <b>Email body:</b>
  <%= @document.email_body %>
</p>

<p>
  <b>Email from:</b>
  <%= @document.email_from %>
</p>

<p>
  <b>Email sent at:</b>
  <%= @document.email_sent_at %>
</p>

<p>
  <b>Csv:</b>
  <%= @document.csv %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
